/* Chat containers */

.generalDiv{
    position: absolute;
    left: 40%;
    right: 50%;
}

body{
    background-color: #001f3f;
    font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
    font-size: .9rem;
}

.container {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: hsla(210, 100%, 75%, 1.0);
}

.currentTargetP{
    color: hsla(210, 100%, 75%, 1.0);
    text-transform: uppercase;
    letter-spacing: .1em;
}

.user{
    width: fit-content;
    width: -moz-fit-content;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.authContainer{
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    top: 50%;
    left: 50%;
    display: inline-grid;
    transform: translate(-50%,-50%);
}

.messageInputDiv{
    margin: auto;
    height: 50px;
    width: 400px;
    padding: 2px;
}

.messageInputArea{
    height: 100%;
    width: 100%;
    overflow: auto;
    resize: none;
    background-color: #052d56;
    border-color: #013a74;
    border-bottom-color: rgb(1, 58, 116);
    border-radius: 5px;
    color: hsla(210, 100%, 75%, 1.0);
    border-bottom: #013a74;    
}

.userDiv{
    overflow:auto;
    position: absolute;
    left: 30%;
    right: 60%;
    scroll-behavior: smooth;
}

.messageDiv{
    margin: auto;
    height: 500px;
    width: 400px;
    overflow: auto;
    scroll-behavior: smooth;
    border: 2px solid #033466;
    border-radius: 5px;
}

/* Darker chat container */
.darker {
}

.user:hover{
    background-color: #0074D9;
    border-color: #0074D9;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}